@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/Helvetica.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica-Regular";
  src: url("../fonts/Helvetica/Helvetica.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/Helvetica/Helvetica-Bold.ttf");
  font-weight: bold;
}
