@import "shared";

body {
  font-family: "Helvetica-Regular";
  color: #666666;
  background-color: rgba(144, 144, 144, 0.98);

  &,
  * {
    margin: 0px;
    box-sizing: border-box;
  }
}

b {
  font-family: "Helvetica-Bold";
}
