@import "/src/assets/scss/shared";

.info {
  @include display-flex(column);

  &__icon {
    margin: 0px auto 7px;
  }

  &__heading {
    font-family: "Helvetica-Bold";
    font-size: 22px;
    line-height: 26px;
    color: #111111;
    margin-bottom: 4px;
  }

  &__sub_heading {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__input {
    margin-bottom: 5px;
  }
}

.why {
  &__container {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    border-radius: 7px;
  }

  &__modal {
    @include display-flex(column) {
      height: 303px;
      margin-top: 300px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

  &__heading {
    font-family: "Helvetica-Bold";
    font-size: 22px;
    line-height: 26px;
    color: #111111;
    margin-bottom: 8px;
  }

  &__sub_heading {
    font-size: 14px;
    line-height: 20px;
  }

  &__button {
    @include display-flex {
      align-items: center;
      justify-content: center;
      height: 50px;
      background-color: #111111;
      color: #ffffff;
      border: none;
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;
      margin-top: auto;
    }
  }
}
